body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between header and footer */
    align-items: center; /* Center content horizontally */
    margin: 0; /* Remove default margin */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    flex-grow: 1; /* Allow this container to grow */
}

.button {
    display: inline-block;  /* Adjust width to content */
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    text-decoration: none;
}

.button:hover {
    background: #0056b3;
}

footer {
    text-align: center; /* Center footer text */
    padding: 10px; /* Add padding to the footer */
}

#random{
    text-align: left;
    position: absolute;
    z-index: 1;
    color: white;
}

#ship{
    position: absolute;
    z-index: 1;
    width: 100px;
    height: auto;
}