<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Portal Utility Reporting</title>
</head>
<body>
    <div class="container">
        <h1>selamat datang di portal utility reporting dg</h1>
        <a href="/mandoloqr" class="button">mandolo disini</a>
        <a href="/ceefwaf" class="button">ceef disini</a>
    </div>
    <footer>
        <p>made from scratch by 2 friends and 1 GPT</p>
    </footer>
</body>
</html>
