<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>mandolo autoreport v2.0</title>
</head>
<body>
   <h1>mandolo autoreport v2.0-dev</h1>
   
   <form action="/" method="POST">
      <textarea name="text" rows="10" cols="50" placeholder="Enter your text here..."><%= encodedText || ''%></textarea>
      <br>
      <button type="submit">Encode to Base64</button>
   </form>
</body>
</html>

<!-- hello, this is kacang\n\n# Top 10 HIDS\n\n# Top 10 NIDS -->
